<% provide(:title, @user.name) %>
<h1 class="text-center">勤怠ログ</h1>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>
</table>